/*colors*/
.font {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #505050;
}
body {
  text-align: center;
}
.logo {
  text-transform: uppercase;
  border: 2px solid #170f1c;
  width: 130px;
  display: inline-block;
  padding: 10px;
}
.menu {
  margin-top: 65px;
}
.menu-main {
  display: inline-block;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #505050;
  font-weight: bold;
  font-size: 45px;
}
h2 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  color: #3e3f3f;
  text-transform: uppercase;
}
.bgblue {
  background-color: #b2f2ee;
  padding: 10px;
  text-transform: uppercase;
}
.logo-o {
  color: #61e3e7;
}
.header-text {
  margin-top: 200px;
}
.btn-main {
  font-size: 18px;
  color: #31515d;
  border: 1px solid #31515d;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  font-weight: 200;
  margin-top: 150px;
  margin-bottom: 200px;
}
img {
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  -o-object-fit: cover;
     object-fit: cover;
  /* Вписываем фотографию в область */
}
.header {
  background-color: #eff0f2;
}
.main {
  margin-top: 130px;
  color: #5e5f5f;
  margin-bottom: 110px;
}
.main h2,
h3 {
  color: #181919;
}
.subtitle {
  text-transform: uppercase;
  font-weight: 500;
  color: #5e5f5f;
}
.main-heading {
  margin-bottom: 150px;
}
.main-text {
  text-align: left;
}
.main-text {
  font-size: 16px;
  color: #9d9e9e;
}
.galerea,
.says {
  margin-top: 130px;
  margin-bottom: 110px;
}
.galerea-text {
  margin-bottom: 110px;
}
.galerea-row2 {
  margin-top: 15px;
}
.otziv {
  margin-bottom: 110px;
}
.otziv img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.block-otziv {
  height: 300px;
}
.tel a {
  font-size: 20px;
  text-transform: uppercase;
  color: #505050;
  font-weight: 450;
  border-radius: 6px;
}
a {
  text-decoration: none;
  background-color: #b2f2ee;
  padding: 10px;
}
@media (max-width: 576px) {
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .header-text {
    margin-top: 50px;
  }
  .img-block {
    margin-top: 15px;
  }
  .none {
    display: none;
  }
}
@media (max-width: 768px) {
  .slaider {
    width: 100%;
    margin-bottom: 20px;
  }
  .main,
  .galerea,
  .says {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-heading,
  .galerea-text {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .bgblue {
    padding: 5px;
  }
  .btn-main {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .main,
  .galerea,
  .says {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main-heading,
  .galerea-text {
    margin-bottom: 40px;
  }
  .slaider {
    width: 100%;
    margin-bottom: 20px;
  }
  .block-otziv {
    height: 450px;
  }
}
