/*9066*/
/*main css*/
.header ol, .header ul, .header li{
	list-style: none;
	margin: auto;
}
.header ul>li:before{
	display: none;
}
body ._lock{
	overflow: hedden;
}

.wrapper{
	min-height: 100%;

}
.container{
	max-width: 1200x;

}
/*main css end*/

/*menu-top*/
.menu-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 11;
	background-color: #000;
	text-align: right;
}
.menu-top_container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 0 30px;
	align-items: center;
	min-height: 40px;
	justify-content: flex-end;
}
.menu-top_link{
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}
.menu-top_link_first{
	border-right: 2px solid #fff;
	padding-right: 5px;
	margin-right: 5px;
}
/*menu-top*/

/*меню с бургером*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 12;
	background-color: #fff;
	padding: 20px 0;
}
.header_container {
	/*max-width: 1200px;*/
	margin: 0 auto;
	display: flex;
	padding: 0 30px;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}
.header_logo {
	/*max-width: 1200px;*/
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.header_logo_title{
	color: #000;
}
.header_logo_title a{
	display: block;
	padding-left: 10px;
	color: #434750;
	font-size: 14px;
}
a:hover{
	text-decoration: none;
	border: none;
	outline: 0;
}
.header_logo img:hover{
	text-decoration: none;
	border: none;
}
.header_logo_title a:nth-child(1){
	font-weight: 900;
	font-size: 15px;
}
.header_logo{
	
}
.header_menu {
}
.menu {}
.menu_icon {
	display: none;
}
.menu_body {
	text-align: left;

}

.menu_list > li{
	position: relative;
	margin: 0 0 0 20px;
	
}
.menu_list li:nth-child(2){
	min-width: 120px;
}
.menu_link {
	color: #000;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 800;
}
.menu_link:hover{
	text-decoration: none;
	color: #ffb617;
}
.menu_sub_link{
	font-weight: 700;
}
.menu_sub_link:hover{
	text-decoration: none;
	color: #ffb617;
}
.menu_sub-list-two li a{
	font-size: 13px;
}
.menu_arrow{
	display: none;
}
.logo img{
		width: 100%;
	}
/*--------------------------------------*/

body._pc .menu_list > li:hover .menu_sub-list{
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._pc .menu_list > li:hover .menu_sub-list{
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._pc .menu_list > li:hover .menu_arrow{
	transform: rotate(-180deg);
}
body._pc .menu_list > li{
	display: flex;
	align-items: center;
}
body._pc .menu_link{
	flex: 1 1 auto;
}
body._pc .menu_arrow{
	display: block;
	width: 0;
	height: 0;
	margin: 0 15px 0 5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	transition: transform 0.3 ease 0s
}
body._touch .menu_list > li._active .menu_sub-list{
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu_list > li._active .menu_arrow{
	transform: rotate(-180deg);
}
body._touch .menu_list > li{
	display: flex;
	align-items: center;
}
body._touch .menu_link{
	flex: 1 1 auto;
}
body._touch .menu_arrow{
	display: block;
	width: 0;
	height: 0;
	margin: 0 15px 0 5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000;
	transition: transform 0.3 ease 0s
}

/*--------------------------------------*/
.menu_sub-list {
	position: absolute;
	top: 100%;
	right: -37%;
	background-color: #fff;
	padding: 15px;
	min-width: 300px;
}
.menu_sub-list li{
	margin-top: 10px;
}
.menu_sub_link {
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	
}
@media(max-width: 1150px){
	.header_container {
		flex-direction: column;
		align-items: flex-start
	}
	.header_logo {
		margin: 0;
	}
	.menu_list:nth-child(1) .menu_sub-list{
		left: 0px;
	}
}
@media(min-width: 900px){
	
	.menu_list{
		display: flex;
		align-items: center;
	}
	.menu_list > li {
		padding: 10px 0;
	}
	.menu_sub-list {
		-webkit-transform: translate(0px, 10%);
		    -ms-transform: translate(0px, 10%);
		        transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: 900px){
	.header_container {
		flex-direction: row;
		align-items: center;
		justify-content: space-between
	}
	.menu-top{
		font-size: 18px;
	}
	.menu_icon{
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu_icon::before,
	.menu_icon::after{
		left: 0;
		position: absolute;
		height: 20%;
		width: 70%;
		transition: all 0.3s ease 0s;
		background-color: #ffb617;

	}
	.menu_icon::before,
	.menu_icon::after{
		content: "";


	}
	.menu_icon::before{
		width: 70%;
		top: 80%;
		left: 10px;
		transform: rotate(-45deg) translate(0px, 50%);
	}
	.menu_icon::after{
		bottom: 0;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu_icon span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu_icon._active span{
		transform: scale(0) translate(0px, -50%);
	}
	.menu_icon._active::before{
		top: 40%;
		left: 0;
		transform: rotate(45deg) translate(0px, -50%);
	}
	.menu_icon._active::after{
		bottom: 50%;
		transform: rotate(-45deg) translate(0px, 50%);
	}
	.menu_body{
		position: fixed;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 130px 0 0 0 ;
		transition: left 0.3s ease 0s;
		text-align: left;
		overflow: auto;
		
  
	}
	.menu_list{
		min-height: 500px;
		overflow: auto;
	}
	.menu_list li{
		height: 100%;
		
	}
	.menu_body::before{
		content: "";
		position: fixed;
		width: 100%;
		top: 40px;
		left: 0;
		height: 100px;
		/*background-color: #1c8fb9;*/
		z-index: 6;
	}
	.menu_body._active{
		left: 0;
	}
	.menu_list > li{
		flex-wrap: wrap;
		margin: 0 0 30px 30px;

	}
	.menu_list > li:last-child{
		margin-bottom: 0;
	}
	.menu_link{
		font-size: 24px;

	}
	.menu_sub-list{
		position: relative;
		flex: 1 1 100%;
		right: 0;
		background-color: rgba(28,143,185, 0);
		padding: 0;
		display: none;
	}
	.menu_list > li._active .menu_sub-list{
		display: block;
	}
	.menu_sub-link{
		font-size: 24px;
		
	}
	.menu_sub-list li{
		margin-top: 30px;
	}
	
}
/*меню с бургером end*/

.page {}
.page_section {}
